@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-color: #0C1033;
  --secondary-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--text-color);
  background: var(--bg-color);
  overflow-x: hidden;


}

container {
  @apply relative;
}

button {
  @apply  bg-black text-gray-500 font-bold py-1 px-1 rounded text-xs absolute top-2 right-2 ;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@media (max-width: 768px) {
  .md\:flex-col {
    flex-direction: column;
}
}